/workspace/zz_deneme/nbproject/private/
/workspace/A_If-Else Soru 5/build/
/workspace/A_Temel-Operatorler Soru 2/nbproject/private/
/workspace/A_Temel-Operatorler Soru 2/dist/
/workspace/A_Temel-Operatorler Soru 2/build/
/workspace/A_If-Else Soru 7/build/
