/workspace/zz_deneme/nbproject/private/
/workspace/A_If-Else Soru 5/build/
/workspace/A_Temel-Operatorler Soru 2/nbproject/private/
/workspace/A_Temel-Operatorler Soru 2/dist/
/workspace/A_Temel-Operatorler Soru 2/build/
/workspace/A_If-Else Soru 7/build/
/workspace/DonguDeneme/nbproject/private/
/workspace/DonguDeneme/build/
/workspace/DonguDeneme/dist/
/workspace/A_Donguler-Soru 1/nbproject/private/
/workspace/A_Donguler-Soru 2/nbproject/private/
/workspace/A_Donguler-Soru 3/nbproject/private/
/workspace/A_Donguler-Soru 4/nbproject/private/
/workspace/A_Donguler-Soru 5/nbproject/private/
/workspace/A_Donguler-Soru 5_2/nbproject/private/
/workspace/A_Donguler-Soru 1/build/
/workspace/A_Donguler-Soru 1/dist/
/workspace/A_Donguler-Soru 2/build/
/workspace/A_Donguler-Soru 2/dist/
/workspace/A_Donguler-Soru 3/dist/
/workspace/A_Donguler-Soru 3/build/
/workspace/A_Donguler-Soru 4/build/
/workspace/A_Donguler-Soru 4/dist/
/workspace/A_Donguler-Soru 5/build/
/workspace/A_Donguler-Soru 5/dist/
/workspace/A_Donguler-Soru 5_2/build/
/workspace/A_Donguler-Soru 5_2/dist/
/workspace/deneme/nbproject/private/
/workspace/A_Donguler_Soru 6/nbproject/private/
/workspace/A_Donguler-Soru 6/nbproject/private/
/workspace/A_Donguler_Soru 7/nbproject/private/
/workspace/A_Donguler-Soru 7/nbproject/private/
/workspace/A_Donguler-Soru 7/build/
/workspace/A_Donguler-Soru 7/dist/
/workspace/A_Donguler-Soru 6/dist/
/workspace/A_Donguler-Soru 6/build/
/workspace/A_Donguler-Soru 8/nbproject/private/
/workspace/A_Donguler-Soru 9/nbproject/private/
/workspace/A_Donguler-Soru 10/nbproject/private/
/workspace/A_Harf-Cizimleri/nbproject/private/
/workspace/A_Harf-Cizimleri/build/
/workspace/A_Harf-Cizimleri/dist/
